.content-body {
    background: #202020;
    color: white;
    padding: 1em;
}

span {
    color: Gold;
}

.content-addresses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.address-box-content {
    background: rgb(45, 45, 45);
    border-radius: 1em;
    color: white;
    padding: 0.5em;
    width: 100%;
    font-size: 1em;
    transition: 0.15s;
    border: none;
}

.animate__animated.animate__bounce {
    --animate-duration: 2s;
}

.address-box-content:hover {
    transform: scale(105%, 105%);
}

.address-box-type {
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.content-donation-types {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.content-donation-type {
    width: 5vw;
    transition: 0.15s;
}

.content-donation-type:hover {
    transform: scale(105%, 105%);
}

.verify {
    color: gold;
    text-decoration: none;
}

.verify:hover {
    text-decoration: underline;
}
